@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$color1: #b7dfe2;
$color2: #fe5c2d;
$color3: #000000;
$color4: #fff;
$color5: #cc2e00;


body{
  width: 1475px;
  height: 5528px;
  background-color: #dbeff0;
  font-family: 'Bebas Neue', cursive;
}

.container {
  border: 1px solid red;
}


.header-menu {

  &__row {
    width: 1440px;
    height: 720px;
  }

  &__logo {
    padding: 30px 0 0 60px;
    p{
      margin-top: 140px;
      margin-bottom: 18px;
      color: $color1;
      width: 147px;
      height: 174px;
      font-size: 62px;
      transform: translateX(80px);

      &:hover{
        background-color: $color4;
        color: $color2;
        transition-duration: 0.5s;
      }
    }
    
    img{
      transform: translateX(80px);
    }

    img:nth-child(1){
      transform: translateX(0px);
    }
  }

  &__img {
    position: absolute;
    transform: translate(320px, -460px);
    z-index: 1;

    img:nth-child(2){
      &::before{
        content: '';
        width: 66px;
        height: 66px;
        background-color: $color1;
        border-radius: 50%;
        display: inline-block;
      }
    }
  }
  .burger-menu {
    transform:translateX(650px);
  }
  
  &__info {
    transform: translate(460px, -530px);
    background-color: $color2;
    width: 1013px;
    height: 723px;;
    padding: 100px 0 0 340px;
    border-radius: 20px;
    z-index: 2;

    h1{
      width: 440px;
      height: 220px;
      font-size: 139px;
      color: $color4;
      text-shadow: 6.6px 7.5px 0 #cc2e00;
      transform: translateX(-130px);
    }

    ul{
      margin-top: 81px;
      width: 370px;
      padding: 20px 0 0 20px;
      transform: translateX(-130px);

      &:hover{
        background-color: $color4;
        border-radius: 20px;
        transition-duration: 0.5s;
        
        li{
          color: $color2;
          text-shadow: 3px 1px 0 $color4;
          transition-duration: 0.5s;

          &::before{
            background-color: $color5;
            transition-duration: 0.5s;
          }
        }
      }
      li{
        color: $color4;
        font-size: 37.5px;
        text-shadow: 3px 1px 0 #cc2e00;
        padding-bottom: 28px;

        &::before{
          content: '';
          width: 16px;
          height: 16px;
          background-color: $color1;
          border-radius: 50%;
          display: inline-block;
          margin-bottom: 5px;
          margin-right: 10px;
        }
      }
    }
  }
  &__info-btn{
    transform: translateX(-100px);
    padding: 20px 20px 40px 25px;
    background-color: #000000;
    width: 192px;
    height: 31px;
    margin-top: 16px;
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);

    span{
      font-size: 29px;
      color: $color4;
    }

    &:hover{
      border-radius: 20px;
      background-color: $color4;
      transition-duration: 0.5s;
      
      span{
        color: $color2;
      }
    }

    &:active{
      position: relative;
      top: 3px;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    }
  }
}


.content-main {

  &__title {
  }

  &__info {
  }

  &__about {
  }

  &__about-text {
  }

  &__about-img {
  }

  &__about-bottom {
  }

  &__about-bottom-img {
  }

  &__about-bottom-text {
  }
}
.list {
}
.icon {
}
.text {
}

