@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$color1: #b7dfe2;
$color2: #fe5c2d;
$color3: #000000;
$color4: #fff;
$color5: #cc2e00;


body{
  width: 1475px;
  height: 5528px;
  background-color: #dbeff0;
  font-family: 'Bebas Neue', cursive;
  margin: 0 auto;
}

// .container {
// }


.header-menu {

  &__row {
    width: 1440px;
    height: 720px;
  }

  &__logo {
    padding: 30px 0 0 60px;
    p{
      margin-top: 140px;
      margin-bottom: 18px;
      color: $color1;
      width: 147px;
      height: 174px;
      font-size: 62px;
      transform: translateX(80px);

      &:hover{
        background-color: $color4;
        color: $color2;
        transition-duration: 0.5s;
      }
    }
    
    img{
      transform: translateX(80px);
    }

    img:nth-child(1){
      transform: translateX(0px);
    }
  }

  &__img {
    position: absolute;
    transform: translate(320px, -460px);
    z-index: 1;

    img:nth-child(2){
      &::before{
        content: '';
        width: 66px;
        height: 66px;
        background-color: $color1;
        border-radius: 50%;
        display: inline-block;
      }
    }
  }
  .burger-menu {
    transform:translateX(650px); //TODO: Доделать меню.
  }
  
  &__info {
    transform: translate(460px, -530px);
    background-color: $color2;
    width: 1013px;
    height: 723px;;
    padding: 100px 0 0 340px;
    border-radius: 20px;
    z-index: 2;

    h1{
      width: 440px;
      height: 220px;
      font-size: 139px;
      color: $color4;
      text-shadow: 6.6px 7.5px 0 #cc2e00;
      transform: translateX(-130px);
    }

    ul{
      margin-top: 81px;
      width: 370px;
      padding: 20px 0 0 20px;
      transform: translateX(-130px);

      &:hover{
        background-color: $color4;
        border-radius: 20px;
        transition-duration: 0.5s;
        
        li{
          color: $color2;
          text-shadow: 3px 1px 0 $color4;
          transition-duration: 0.5s;

          &::before{
            background-color: $color5;
            transition-duration: 0.5s;
          }
        }
      }
      li{
        color: $color4;
        font-size: 37.5px;
        text-shadow: 3px 1px 0 #cc2e00;
        padding-bottom: 28px;
        margin-bottom: 28px;

        &::before{
          content: '';
          width: 16px;
          height: 16px;
          background-color: $color1;
          border-radius: 50%;
          display: inline-block;
          margin-bottom: 5px;
          margin-right: 10px;
        }
      }
      
      li:nth-child(1){
        width: 205px;
        height: 20px;

        &:hover{
          color: $color1;
        }
      }
      li:nth-child(2){
        width: 315px;
        height: 20px;

        &:hover{
          color: $color1;
        }
      }
      li:nth-child(3){
        width: 290px;
        height: 20px;
        padding-bottom: 48px;

        &:hover{
          color: $color1;
        }
      }
    }
  }
  &__info-btn{
    transform: translateX(-100px);
    padding: 20px 20px 40px 25px;
    background-color: #000000;
    width: 192px;
    height: 31px;
    margin-top: 16px;
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);

    span{
      font-size: 29px;
      color: $color4;
    }

    &:hover{
      border-radius: 20px;
      background-color: $color4;
      transition-duration: 0.5s;
      
      span{
        color: $color2;
      }
    }

    &:active{
      position: relative;
      top: 3px;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    }
  }
}


.content-main { 

  &__title {
    margin: 93px 0 66px 0;
    display: inline-block;
    width: 473px;
    height: 115px;
    transform: translateX(450px);
    font-size: 67px;
    line-height: 1;
    text-align: center;

    span{
      color: $color2;
    }

  }

  &__info {
    ul{
      display: flex;
      width: 1320px;
      height: 365px;
      justify-content: space-around;
      align-items: center;
      transform: translateX(120px);
      text-align: center;
      background-color: #cfe5e6;
      border-radius: 20px;
      margin-bottom: 120px;

      li{
        position: relative;
        line-height: 40px;
        font-size: 21px;
        font-weight: bold;
        letter-spacing: 1.26px;

        span{
          color: #676767;
          font-weight: normal;
        }
      } 
    }
  }

  &__about {
    p{
      width: 562px;
      height: 115px;
      font-size: 67px;
      line-height: 1;
      margin-bottom: 31px;
      margin-left: 140px;
    }

    .about-color{
      color: $color2;
    }

    .about-text{
      width: 565px;
      height: 82px;
      font-size: 21px;
      color: #676767;
  }

  .about-link{
    margin-left: 15px;
    z-index: 3;
    transition-property: all;
    a{
      width: 125px;
      height: 24px;
      z-index: 3;
    }

    span{
      color: $color3;
      font-size: 33px;
      z-index: 3;
    }

    &::before{
      content: '';
      width: 130px;
      height: 17px;
      background-color: $color2;
      display: inline-block;
      transform: translate(125px, 5px);
      z-index: -1;
      position: relative;
    }

    &:hover{

      &::before{
        content: '';
        height: 32px;
        background-color: $color1;
        transition-duration: 0.3s;
      }

      span{
        color: $color2;
        transition-duration: 0.3s;
      }
    }
  }

  img{
    transform: translate(750px, -520px);
  }
 }

  &__about-bottom {
    transform: translate(0, -550px);
  }

  &__about-bottom-img {
    .photo{
      transform: translateX(51px);
    }

    .arrow{
      transform: translate(-270px, 170px);
    }
  }

  &__about-bottom-text {
    width: 580px;
    height: 354px;
    transform: translate(850px, -250px);

    .bottom-text__title{
      font-size: 67px;
      width: 490px;
      height: 115px;
      margin-bottom: 31px;
      span{
        color: $color2;
      }
    }

    .bottom-text__text{
      font-size: 21px;
      color: #676767;
    }
  }

  &__about-bottom-link {
    transform: translate(730px, -330px);
    
    span{
      color: $color3;
      font-size: 33px;
    }
    &::before{
      content: '';
      width: 130px;
      height: 17px;
      background-color: $color2;
      display: inline-block;
      transform: translate(129px, 5px);
      z-index: -1;
      position: relative;
    }
    &:hover{

      &::before{
        content: '';
        height: 32px;
        background-color: $color1;
        transition-duration: 0.3s;
      }

      span{
        color: $color2;
        transition-duration: 0.3s;
      }
    }
  }
}


.content-bottom {

  // &__row {
  // }

  &__features {
    background-color: #cfe5e6;
    transform: translateY(-790px);
  }

  &__features-title {
    width: 549px;
    height: 155px;
    font-size: 67px;
    transform: translateX(460px);
    padding-top: 62px;
    margin-bottom: 46px;

    p{
      text-align: center;
    }

    span{
      color: $color2;
    }
  }

  &__features-info {
    width: 896px;
    height: 49px;
    font-size: 21px;
    line-height: 1.57;
    text-align: center;
    color: #676767;
    transform: translate(260px, 46px);
  }


		&__features-icons {
      width: 1055px;
      height: 345px;
      transform: translate(220px, 80px);
      margin-top: 76px;
      margin-bottom: 250px;
		}

.icons-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
}

.icon-text{
  font-size: 21px;
  line-height: 75px;
  letter-spacing: 3.78px;
  color: #323e44;
  text-align: center;
  opacity: 0.7;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 309px;

  &:hover{
    color: $color2;
    transition-duration: 0.3s;
  }
}

.icons-down {
  width: 950px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateX(70px);
}

.icon-text1{
  transform: translate(-100px, 90px);
}

.icon-text2{
  transform: translate(-104px, 90px);
}

.icon-text3{
  transform: translate(-100px, 90px);
}

.icon-text4{
  transform: translate(-100px, 90px);
}

.icon-text5{
  transform: translate(-100px, 90px);
}

.icon-text6{
  transform: translate(-115px, 90px);
}

.icon-text7{
  transform: translate(-115px, 90px);
}

.icon-text8{
  transform: translate(-115px, 90px);
}

.icon-text9{
  transform: translate(-115px, 90px);
}


  &__features-link {
    width: 186px;
    height: 53px;
    font-size: 21px;
    letter-spacing: 3.78px;
    text-align: center;
    padding: 20px;
    background-color: $color2;
    border-radius: 20px;
    transform: translate(610px,-60px);
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
    position: relative;

    span{
      color: #dbeff0;
    }

    &:hover{
      background-color: #fff;
      transition-duration: 0.6s;
      span{
        color: $color2;
        transition-duration: 0.6s;
      }
    }

    &:active{
      top: 2px;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
      transition-duration: 0.5s;
    }
  }

  &__download {
    transform: translate(183px,-650px);
  }

  &__download-title {
    font-size: 67px;
    line-height: 1;
    width: 552px;
    height: 115px;
    margin-bottom: 46px;

    span{
      color: $color2;
    }
  }

  &__download-text {
    width: 579px;
    height: 82px;
    font-size: 21px;
    line-height: 1.57;
    color: #676767;
    margin-bottom: 55px;
    margin-left: 5px;
  }

  &__download-subtitle {
    position: relative;
    width: 149px;
    height: 60px;
    font-size: 33px;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 20px;
    transform: translate(0px, -20px);

    &:hover{
      background-color: $color2;
      border-radius: 20px;
      transition-duration: 0.5s;
      box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);

      span{
        color: $color4;
        transition-duration: 0.5s;
      }
    }

    &:active{
      top: 2px;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
      transition-duration: 0.5s;
    }

    span{
      color: $color3;
    }
  }

.download-links {

		// &__qr {
		// }

		&__btn {
      width: 200px;
      height: 148px;
      transform: translate(198px, -148px);
		}

		&__btn1 {
      margin-bottom: 30px;
		}

		// &__btn2 {  
		// }
}


  &__download-img {
    transform: translate(748px, -730px);

    img{
      height: 600px;
    }
  }
}

.footer-menu {

  &__row {
    width: 1327px;
    height: 276px;
    background-color: #cfe5e6;
    transform: translate(56px, -1300px);
  }

  &__logo {
    margin-left: 59px;
    padding-top: 30px;
  }

  // &__links {
    
  // }

  &__contact {
    margin-left: 59px;
    font-size: 32.5px;
    color: $color4;
    width: 230px;
    font-weight: 800;
  }

  // &__author {
  // }

  // &__media {
  // }
}
// .container {
// }
// .footer-logo {
// }
.footer-links {
  display: inline-block;
  font-size: 17px;
  letter-spacing: 2.72px;
  margin-right: 20px;
  transform: translate(900px, -98px);

  p{
    color: $color3;
  }

  p:nth-child(1){
    &:hover{
      color: $color2;
      transition-duration: 0.2s;
    }
  }
}
.number1 {
  width: 105px;
  margin-bottom: 10px;
  background-color: #000000;
}
.number2 {
  width: 147px;
  background-color: #000000;
}
.author {
  text-align: center;
  font-size: 20px;
  transform: translateY(-39px);

  span{
    color: $color4;
    padding: 1px 5px 1px 5px;
    line-height: 1.5;
    border-radius: 10px;
    background-color: $color2;

    &:hover{
      color: $color2;
      border-radius: 10px;
      background-color: $color4;
      transition-duration: 0.5s;
    }
  }
  
}
.media {
  display: flex;
}
.media-list {
  margin-right: 12px;
  transform: translate(1121px, -80px);
}
// .media-icon {
// }
// .media-icon1 {
// }
// .media-icon2 {
// }
// .media-icon3 {
// }

